* {
    margin: 0;
    padding: 0;
}

body {
    /* Full-screen wallpaper */
}

.taskbar {
    background-color: #f3f3f3;
    width: 100%;
    position: absolute; /* Positioned relative to the body */
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
}

.startmenu {
    position: absolute;
    bottom: -655px; /* Initially hidden below the screen */
    width: 100%;
    text-align: center;
    transition: bottom 0.5s ease-in-out; /* Smooth sliding effect */
}

.startmenu img {
    border-radius: 8px;
}

.right {
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  

.icons {
    color: white;
}
